<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Pagos</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-header>
    <br>
    <ion-card>
        <ion-card-title>PAGOS PENDIENTES</ion-card-title>

         <p><br><ion-card-subtitle> Saldo a pagar: $1234</ion-card-subtitle>
        <br>
        <ion-card-subtitle>Opciones de pago
        </ion-card-subtitle>
        <img class="icon" src="assets/icon/pagos.jpg" >
        <ion-card-subtitle>Requiero factura *
        </ion-card-subtitle>
      </p>
  </ion-card>
  </ion-card-header>
  </ion-card-content>
</ion-content>
