<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Anuncios</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
      <ion-card>
        <img class="icon" src="assets/icon/anun1.jpg" >
        <br>
        <ion-card-title>Anuncio 1</ion-card-title>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </ion-card-content>
        <br>
      </ion-card>
 
       <ion-card>
        <img class="icon" src="assets/icon/anun2.jpg" >
        <br>
        <ion-card-title>Anuncio2</ion-card-title>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </ion-card-content>
        <br>
       </ion-card>
   
       <ion-card>
        <img class="icon" src="assets/icon/anun3.jpg" >
        <br>
        <ion-card-title>Anuncio 3</ion-card-title>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </ion-card-content>
        <br>
      </ion-card>


    <ion-card>
      <img class="icon" src="assets/icon/anun5.jpg" >
      <br>
      <ion-card-title>Anuncio 3</ion-card-title>
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </ion-card-content>
      <br>
    </ion-card>

  </ion-card-content>

</ion-content>
