<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Servicios</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>

      <ion-card>
        <img class="icon" src="assets/icon/natac.jpg" >
        <br>
        <ion-card-title>Clases de Natación</ion-card-title>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </ion-card-content>
        <ion-card-subtitle> 
          Precio : $$
        </ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Seleccione las inscripciones a realizar:</ion-label>        
          <ion-input type="number" value="1" min="1" max="99"></ion-input>
          <br>
          </ion-item>
          <ion-button expand="block"(click)="Comprar()">
            Inscribirse
          </ion-button>
      </ion-card>
      <br>
      <ion-card>
        <img class="icon" src="assets/icon/body_combat.jpg" >
        <br>
        <ion-card-title>Clases de Body Combat</ion-card-title>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </ion-card-content>
        <ion-card-subtitle> 
          Precio : $$
        </ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Seleccione las inscripciones a realizar:</ion-label>        
          <ion-input type="number" value="1" min="1" max="99"></ion-input>
          <br>
        </ion-item>
        <ion-button expand="block"(click)="Comprar()">
          Inscribirse
        </ion-button>
      </ion-card>
      <br>
      <ion-card>
        <img class="icon" src="assets/icon/atletismo.JPG" >
        <br>
        <ion-card-title>Clases de Atletismo</ion-card-title>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </ion-card-content>
        <ion-card-subtitle> 
          Precio : $$
        </ion-card-subtitle>
        <ion-item>
        <ion-label position="floating">Seleccione las inscripciones a realizar:</ion-label>        
        <ion-input type="number" value="1" min="1" max="99"></ion-input>
        <br>
      </ion-item>
        <ion-button expand="block"(click)="Comprar()">
        Inscribirse
       </ion-button>
       </ion-card>
   </ion-card-content>

</ion-content>
